header {
    background-color: #eae3e3;
    color: cornflowerblue;
    align-content: center;
    font-family: "Segoe UI Light", "sans-serif";
    font-size: 4vw;
    margin-bottom: 4vw;

}

body {
    background-color: #eae3e3;
    font-family: "Segoe UI Light", "sans-serif";

}

footer {
    text-align: center;
}

div {
    font-family: "Segoe UI Light", "sans-serif";

}

img {
    width: 30vw;
}

a:visited {
    color: green;
}

a:hover {
    color: darkslateblue;
}

a > img {
    width: 50px;
    height : 25px;
}